@model Moka.Simulator.Services.PaymentDetail
@{
 ViewData["Title"] = "Remote Payment Detail";
}
<h2>Remote Payment Detail</h2>
<dl class="row">
 <dt class="col-sm-2">OtherTrxCode</dt><dd class="col-sm-10">@Model.OtherTrxCode</dd>
 <dt class="col-sm-2">trxCode</dt><dd class="col-sm-10">@Model.TrxCode</dd>
 <dt class="col-sm-2">Amount</dt><dd class="col-sm-10">@Model.Amount @Model.Currency</dd>
 <dt class="col-sm-2">Status</dt><dd class="col-sm-10">@Model.Status</dd>
 <dt class="col-sm-2">CodeForHash</dt><dd class="col-sm-10">@Model.CodeForHash</dd>
 <dt class="col-sm-2">CreatedUtc</dt><dd class="col-sm-10">@Model.CreatedUtc.ToString("u")</dd>
</dl>
<p>
 <a class="btn btn-secondary" asp-controller="PaymentQueries" asp-action="Index">Back to list</a>
 <a class="btn btn-link" asp-controller="DealerPayment" asp-action="Create">Yeni Ödeme</a>
</p>
