@model Moka.Simulator.Models.Order
@{
 ViewData["Title"] = "Order Details";
}
<h2>Order @Model.Id</h2>
<dl class="row">
 <dt class="col-sm-2">Transaction</dt><dd class="col-sm-10">@Model.Trx</dd>
 <dt class="col-sm-2">trxCode</dt><dd class="col-sm-10">@Model.TrxCode</dd>
 <dt class="col-sm-2">Amount</dt><dd class="col-sm-10">@Model.Amount @Model.Currency</dd>
 <dt class="col-sm-2">Masked Card</dt><dd class="col-sm-10">@Model.MaskedCard</dd>
 <dt class="col-sm-2">Created UTC</dt><dd class="col-sm-10">@Model.CreatedUtc.ToString("u")</dd>
 <dt class="col-sm-2">Status</dt><dd class="col-sm-10">@Model.Status</dd>
</dl>
<p>
 <a class="btn btn-secondary" asp-controller="Orders" asp-action="Index">Back to list</a>
 <a class="btn btn-primary" asp-controller="DealerPayment" asp-action="Create">New Payment</a>
</p>
